*{
    background-color : aliceblue;
    
}

.wrapper_clearfix{
    text-align: center;
    margin-top: 200px;
    margin-bottom: 25px;
    margin-left: 100px;
    margin-right: 100px;
}
.player_1_panel{
    background-color: #cfc ;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 25px;
    margin-right: 500px;
    
    
}

.player_2_panel{
    background-color: blue;
    margin-top: -110px;
    margin-bottom: 50px; 
    margin-left: 350px;
    margin-right: 10px;
    
   
}

.score_1{
    margin-top: 50px;
    margin-bottom: 30px;
    margin-left: 30px;
    margin-right: 100px;

}

.score_2{
    margin-top: 50px;
    margin-bottom: 30px;
    margin-left: 30px;
    margin-right: 100px;
    
}